*{
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style: none; 
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    background: linear-gradient(106.84deg, #000000 -29.07%, #000000 97.32%);
}

.btn-primary {
    background-color: #5285ea;
    color:#ffffff;
    border-color: #fff1f4;
}

body {
    background-color:#ffffff;
    color: #4f4d4d;
  }
.color-white {
    color:#ffffff;
}
.color-green {
    color: #00bc8c;
}
.form-control {
    background-color:rgb(176, 176, 176);
}
.form-control {
    background-color:rgb(176, 176, 176);
}
.bg-pink{
    background: linear-gradient(106.84deg, #000000 -29.07%, #000000 97.32%);
    color: #ffffff;
}